<!DOCTYPE html>
<html lang="zh" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Node Bigpipe</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="bigpipe">
<meta name="description" content="bigpipe">
<meta name="author" content="cloud">
<meta name="version" content="1.0">
</head>
<body>

<div class="wrap">
    <h3>Node Bigpie</h3>
    <div class="content"></div>
    <div id="tag"></div>
</div>


<script type="text/javascript" src="/static/jquery.min.js"></script>

<script type="text/javascript" src="/static/bro.bigpipe.js"></script>
<script type="text/javascript">

// this method will automatically export a object `karatBP` in window, and the `_bigpipe_id` shoud match the definition in backend 
new Bigpipe('karatBP')

// you can also get the `_bigpipe_id` from data which has been mixed by Bigpipe:
// new Bigpipe('{{_bigpipe_id}}')


// Bind your pipe event in Frontend js. It need match the Backend definition.
karatBP.on('tag')
.then(function (data) {
    var pipeData = JSON.parse(data)

    console.log(pipeData.message)
    $('#tag').html(pipeData.html)

})
</script>

</body>
</html>